<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/meals/styles.css">
    <link rel="stylesheet" href="/meals/components/cards.css">
    <link rel="stylesheet" href="/meals/components/buttons.css">
    <link rel="stylesheet" href="/meals/components/fields.css">
    <link rel="stylesheet" href="/meals/components/text.css">
    <link rel="stylesheet" href="/meals/components/search.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div class="center-container">
    <div class="background-div">
    <div class="square-div">

        <div class="top-row-div">
            <a th:href="@{|/${username}/meals/add-meal|}" class="button-main btn-new">+&nbsp;&nbsp;&nbsp;&nbsp; New Meal</a>
            <form action="#" th:action="@{/logout}" method="POST">
                <input class="button-main btn-right" type="submit" value="Log out"/>
            </form>
        </div>


        <div class="top-middle-div">
            <p class="distinctive-text"><span th:text="${username}">User</span>'s Meal planner</p>
        </div>

        <div class="middle-row-div">

            <form class="search-m" th:action="@{|/${username}/meals/search|}" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

            <select class="button-main btn-sort" id="sortSelect" onchange="sortMeals()">
                <option value="" disabled selected>Sort by</option>
                <option value="">The oldest</option>
                <option value="newest">The newest</option>
                <option value="name_az">Name A-Z</option>
                <option value="name_za">Name Z-A</option>
                <option value="category">Category</option>
                <option value="making_time">Making Time</option>
                <option value="portions">Portions</option>
            </select>
        </div>

        <div class="middle-div">
            <div id="mealsContainer" class="cards-container" th:if="${not #lists.isEmpty(meals)}">
                <a th:href="@{'/' + ${username} + '/meals/show-meal'(mealId=${tempMeal.id}) }" class="card" th:each="tempMeal : ${meals}">
                    <input type="hidden" name="mealId" th:value="${tempMeal.id}" />
                    <div class="card-content">
                        <div class="card-title">
                            <p class="cards-text" th:text="${tempMeal.mealName}"></p>
                        </div>
                        <ul class="card-inside">
                            <li class="card-list"><span th:text="${tempMeal.category != null ? tempMeal.category.getCategory() : 'No Category'}"></span></li>
                            <li class="card-list"><span th:text="${tempMeal.makingTime}"></span> minutes</li>
                            <li class="card-list"><span th:text="${tempMeal.portions}"></span> portions</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div th:if="${#lists.isEmpty(meals)}" class="no-meals-message">
                <p>You haven't added any meals yet. Click "New Meal" to get started!</p>
            </div>
        </div>
    </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${username}]]*/ 'defaultUsername';

    function sortMeals() {
        const sortBy = document.getElementById('sortSelect').value;
        if (sortBy) {
            window.location.href = `/${username}/meals/sort?sortBy=${sortBy}`;
        }
    }
    /*]]>*/
</script>
</body>
</html>