<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/meals/styles.css">
    <link rel="stylesheet" href="/meals/components/cards.css">
    <link rel="stylesheet" href="/meals/components/buttons.css">
    <link rel="stylesheet" href="/meals/components/fields.css">
    <link rel="stylesheet" href="/meals/components/text.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">

</head>
<body>
<div class="center-container">
    <div class="background-div">
    <div class="square-div">

        <div class="top-row-div">
                <a href="/meals/add-meal" class="button-main btn-back">+&nbsp;&nbsp;&nbsp; New Meal</a>
                <a href="/meals/list" class="button-main btn-right">Log out</a>
        </div>


        <div class="top-middle-div">
            <p class="fancy-text">Meal planner</p>
        </div>

        <div class="middle-row-div">

        </div>
        <div class="middle-div">
            <div class="cards-container">
                <div class="card" th:each="tempMeal : ${meals}">
                    <div class="card-title">
                        <p class="cards-text" th:text="${tempMeal.mealName}"></p>
                    </div>
                    <ul class="card-inside">
                        <li class="card-list"><span th:text="${tempMeal.category != null ? tempMeal.category.getCategory() : 'No Category'}"></span></li>
                        <li class="card-list"><span th:text="${tempMeal.makingTime}"></span> minutes</li>
                        <li class="card-list"><span th:text="${tempMeal.portions}"></span> portions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>