<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show meal</title>
    <link rel="stylesheet" href="/meals/styles.css">
    <link rel="stylesheet" href="/meals/components/buttons.css">
    <link rel="stylesheet" href="/meals/components/fields.css">
    <link rel="stylesheet" href="/meals/components/text.css">
    <link rel="stylesheet" href="/meals/components/modal.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="center-container">
    <div class="background-div">
        <div class="square-div">
            <div class="top-row-div">
                <a th:href="@{|/${username}/meals/list|}" class="button-main btn-back">&#129032 &nbsp;&nbsp; Back to planner</a>
                <p class="top-meal-planner">Meal Planner</p>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input class="button-main btn-right" type="submit" value="Log out"/>
                </form>
            </div>

            <div class="top-middle-add-div">
                <p class="fancy-text" th:text="${meal.mealName}"></p>
            </div>

            HELLO
            <p th:text="${meal != null} ? ${meal.mealName} : 'Meal is null'"></p>
            <p th:text="${meal}"></p>
            <p th:text="${meal.ingredients}"></p>
            <p th:text="${meal.mealDescription}"></p>
            <div class="bottom-div">
                <a href="#"
                   class="button-main delete-button"
                   th:data-meal-id="${meal.id}" th:data-username="${username}">
                    Delete
                </a>
                <a th:href="@{'/' + ${username} +'/meals/update-meal'(mealId=${meal.id})}" class="button-main btn-right">Update</a>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p class="distinctive-text">Delete meal?</p>
        <p class="text-modal">This cannot be undone</p>
        <div class="modal-buttons">
            <button class="btn btn-cancel" onclick="closeModal()">Cancel</button>
            <button class="btn btn-delete" onclick="confirmDelete()">Delete</button>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var username = /*[[${username}]]*/ '';

    $(document).ready(function() {
        $('.delete-button').click(function(e) {
            e.preventDefault();
            $('#deleteModal').css('display', 'block');
            window.currentMealId = $(this).data('meal-id');
        });
    });

    function closeModal() {
        $('#deleteModal').css('display', 'none');
    }

    function confirmDelete() {
        var mealId = window.currentMealId;
        var baseUrl = 'http://localhost:8080';
        window.location.href = baseUrl + '/' + encodeURIComponent(username) + '/meals/delete?mealId=' + encodeURIComponent(mealId);
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('deleteModal')) {
            closeModal();
        }
    }
</script>
</body>
</html>