<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show meal</title>
    <link rel="stylesheet" href="/meals/styles.css">
    <link rel="stylesheet" href="/meals/components/buttons.css">
    <link rel="stylesheet" href="/meals/components/fields.css">
    <link rel="stylesheet" href="/meals/components/text.css">
    <link rel="stylesheet" href="/meals/components/modal.css">
    <link rel="stylesheet" href="/meals/components/containers.css">
    <link rel="stylesheet" href="/meals/components/cards.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="center-container">
    <div class="background-div">
        <div class="square-div">
            <div class="top-row-div">
                <a th:href="@{|/${username}/meals/list|}" class="button-main btn-back">&#129032 &nbsp;&nbsp; Back to planner</a>
                <p class="top-meal-planner">Meal Planner</p>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input class="button-main btn-right" type="submit" value="Log out"/>
                </form>
            </div>

            <div class="top-middle-div">
                <p class="distinctive-text"><span th:text="${username}">User</span>'s Meal planner</p>
            </div>

            <div class="top-middle-add-div">
                <p class="distinctive-text" th:text="${meal.mealName}"></p>
            </div>

            <div class="meal-details">
                <div class="meal-info">
                    <div class="image-box">
                        <img src="/images/category.png" alt="Category">
                        <p class="cards-text"> <span th:text="${meal.category.category}"></span></p>
                    </div>
                    <div class="image-box">
                        <img src="/images/portions.png" alt="Portions">
                        <p class="cards-text"> <span th:text="${meal.portions}"></span> portion(s)</p>
                    </div>
                    <div class="image-box">
                        <img src="/images/time.png" alt="Making Time">
                        <p class="cards-text"> <span th:text="${meal.makingTime}"></span> min</p>
                    </div>
                </div>
                <div class="ingredients">
                    <p class="distinctive-text">INGREDIENTS:</p>
                    <div class="ingredients-list" th:if="${meal.ingredients != null}" >
                        <div class="ingredient-row" th:each="ingredient : ${meal.ingredients}">
                            <div class="ingredient-quantity" th:text="${ingredient.quantity}"></div>
                            <div class="ingredient-measure" th:text="${ingredient.measure.measure}"></span>
                            <div class="ingredient-name" th:text="${ingredient.ingredient}"></div>
                        </li>
                    </div>
                </div>
            </div>






            <div class="bottom-div">
                <a href="#"
                   class="button-main btn-meal-delete"
                   th:data-meal-id="${meal.id}" th:data-username="${username}">
                    Delete
                </a>
                <a th:href="@{'/' + ${username} +'/meals/update-meal'(mealId=${meal.id})}" class="button-main btn-right">Update</a>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p class="distinctive-text">Delete meal?</p>
        <p class="text-modal">This cannot be undone</p>
        <div class="modal-buttons">
            <button class="btn btn-cancel" onclick="closeModal()">Cancel</button>
            <button class="btn btn-delete" onclick="confirmDelete()">Delete</button>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var username = /*[[${username}]]*/ '';

    $(document).ready(function() {
        $('.btn-meal-delete').click(function(e) {
            e.preventDefault();
            $('#deleteModal').css('display', 'block');
            window.currentMealId = $(this).data('meal-id');
        });
    });

    function closeModal() {
        $('#deleteModal').css('display', 'none');
    }

    function confirmDelete() {
        var mealId = window.currentMealId;
        var baseUrl = 'http://localhost:8080';
        window.location.href = baseUrl + '/' + encodeURIComponent(username) + '/meals/delete?mealId=' + encodeURIComponent(mealId);
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('deleteModal')) {
            closeModal();
        }
    }
</script>
</body>
</html>