.button-main {
    height: 50px;
    border-radius: 5px;
    background-color: #344EA3;
    color: #FFF6EB;
    position: absolute;
    top: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    border: none;
    outline: none;
    font-size: 20px;

}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
    width: 120px;
}

.btn-category {
    right: 0;
    width: fit-content;
    padding: 4px;
}

.button-main:hover{
    background-color: #1A2788;
}

.btn-cancel {
    background-color: #b44444;
    width: 120px;
    right: 130px;
}

.btn-back {
    width: 205px;
}

.btn-submit {
    text-decoration: none; /* Remove underline */
}

.btn-measure {
    width: 80px;
    right: 130px;
}

.button-remove {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.button-remove:hover {
    background-color: #e0e0e0;
}


.category-buttons {
    margin: 0;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-group input[type="radio"] {
    display: none;
}

.button-label {
    display: inline-block;
    background-color: #e0e0e0;
    color: #330300;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group input[type="radio"]:checked + .button-label {
    background-color: #6495ED;
    color: white;
    border: 2px #330300;
    font-weight: bold;

}


.btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btn-delete {
    background-color: #ff4d4d;
    color: white;
}
.btn-delete:hover {
    background-color: #ff3333;
}
.btn-cancel {
    background-color: #f0f0f0;
    color: #333;
}
.btn-cancel:hover {
    background-color: #e0e0e0;
}