.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    height: calc(100% - 10px);
    overflow-y: auto;
}

.cards-container::-webkit-scrollbar {
    width: 10px;
}

.cards-container::-webkit-scrollbar-track {
    background: #FFFBF6;
    padding-left: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: #344EA3;
    border-radius: 5px;
    border: 3px solid #FFF6EB;
}

.card {
    padding: 15px 20px 20px 23px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #B1C5EC;
    justify-content: flex-start;
    max-height: 200px;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.card-inside {
    display: grid;
    align-items: end;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: #330300;
}

.card-list {
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 20px;

}

