.modal {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 0 20px 0;
    border: 1px solid #888;
    width: 400px !important;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.modal-buttons {
    margin-top: 20px;
}