form.search-m input[type=text] {
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    float: left;
    width: calc(100% - 250px);
    background: #B1C5EC;
    height: 50px;
    padding: 0 0 0 23px;
    border-radius: 8px 0 0 8px;
}

form.search-m button {
    float: left;
    width: 85px;
    height: 50px;
    padding: 10px;
    background: #6495ED !important;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 0 8px 8px 0;

}

form.search-m button:hover {
    background: #344EA3;
}

/* Clear floats */
form.search-m::after {
    content: "";
    clear: both;
    display: table;
}