.plain-text {
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: #330300;
    font-weight: bold;
}

.cards-text {
    margin: 0;
    color: #330300;
    font-weight: bold;
}

.text-min {
    color: #330300;
    position: absolute;
    margin-top: 12px;
    left: 620px;
    font-weight: bold;
}

.text-portions {
    color: #330300;
    position: absolute;
    margin-top: 12px;
    left: 845px;
    font-weight: bold;
}

.distinctive-text {
    font-family: 'Koulen', serif;
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #330300;

}

.text-modal {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}